.section-border {
  border: 1px solid #2a2a2a4d;
}


.trusted-by-coach {
  position: relative;
  background: linear-gradient(115deg, #000 35%, #1d1d1d 100%);
  padding: 40px 2% !important;
  overflow: hidden;
  color: #fff;
}


.trusted-by-coach::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
  pointer-events: none;
}


.trusted-by-coach::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 6px,
    transparent 8px,
    transparent 20px
  );
  z-index: 2;
  pointer-events: none;
}

/* Keep content above overlays */
.trusted-by-coach * {
  position: relative;
  z-index: 3;
}

/* SLICK SLIDERS */
.trusted-by-coach .slick-track {
  display: flex !important;
}
.trusted-by-coach .slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
}
.trusted-by-coach .slick-slide > div {
  display: flex;
}
