.chat-layout {
  border: 0.4px solid #0071bd4d;
  border-radius: 20px;
}

.chat-layout ::-webkit-scrollbar {
  display: none;
}

.chat-layout ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-layout ::-webkit-scrollbar-thumb {
  background: #888;
}

.chat-layout ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-sider {
  background-color: #ffffff !important;
  border-right: 1px solid #d9d9d9;
  border-radius: 20px 0px 0px 20px;
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

.search-bar {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.chat-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 0;
}

.chat-header {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

.chat-header h2 {
  margin: 0;
}

.chat-messages {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}
.message {
  background: #e5eeff;
  max-width: 520px;
  width: fit-content;
  border-radius: 18px;
}
.response {
  background: #eff3f5;
  max-width: 520px;
  width: fit-content;
  border-radius: 18px;
}
.message,
.response {
  margin-bottom: 16px;
}

.message p,
.response p {
  margin: 0;
}

.chat-input {
  padding: 16px;
  border-top: 1px solid #d9d9d9;
  background-color: #eff3f5;
}

.input-div {
  border-radius: 12px;
  padding: 8px 16px 8px 16px;
  background-color: #ffffff;
}

.message-input {
  box-shadow: none !important;
}

.emoji-picker {
  position: absolute;
  bottom: 40px;
  right: 0px;
}

/* Container for file previews */
.file-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* Style for image previews */
.file-preview-container img {
  max-width: 100%;
  max-height: 150px; /* Adjust the height as needed */
  border-radius: 8px;
  margin-bottom: 5px;
}

/* Style for text or file name */
.file-preview-text {
  font-size: 14px;
  color: #191b1d;
  margin-top: 5px;
  text-align: center;
}

/* Style for uploaded files */
.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.file-preview-container {
  margin-top: 10px;
}

.file-preview {
  margin-bottom: 10px;
}

.image-preview img,
.video-preview video {
  border-radius: 8px;
  overflow: hidden;
}

.file-link a {
  color: #007bff;
  text-decoration: none;
}

.file-link a:hover {
  text-decoration: underline;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  background: #eff3f5;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  position: relative;
}

.message.ms-auto {
  background: #e5eeff;
  align-self: flex-end;
}

.message.me-auto {
  align-self: flex-start;
}

.image-preview-container {
  display: flex;
  align-items: center;
}

.image-preview-item {
  margin-right: 10px;
}

.image-preview-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.image-preview-summary p {
  margin: 0;
  font-size: 14px;
  color: #a0a7af;
}

/* CoachChatRoom.css */

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
}

.image-grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image-grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* CoachChatRoom.css */

.image-preview-container {
  display: flex;
  gap: 8px;
  position: relative;
  background-color: #eff3f5;
}

.image-preview-item {
  position: relative;
  border-radius: 8px;
}

.image-preview-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.image-preview-summary {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px 8px;
  border-top-left-radius: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.modal-media {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.modal-media-pdf {
  width: 50px;
  height: 100px;
  border-radius: 8px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .chat-sider {
    background-color: #ffffff !important;
    border-right: 1px solid #d9d9d9;
    border-radius: 20px 0px 0px 20px;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
