.companion-image-container {
  position: relative;
  width: 100%;
}

.companion-image {
  position: absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
}

.companion-image.active {
  opacity: 1;
}

.companion-div h1,
.companion-div h2 {
  font-size: 20px !important;
  font-weight: 700;
  margin-top: 16px;
}

@media (min-width: 992px) {
  .companion-image {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
  }
}
