
.hero-bg-theme {
  position: relative;
  background: linear-gradient(115deg, #000 35%, #1d1d1d 100%);
  padding: 100px 8% !important;
  overflow: hidden;
  color: #fff;
}


.hero-bg-theme::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.hero-bg-theme::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 6px,
    transparent 8px,
    transparent 20px
  );
  z-index: 1;
}

/* Ensuring Hero Content on Top */
.hero-bg-theme * {
  position: relative;
  z-index: 5;
}

/* Green Line */
.hr-line {
  width: 45px;
  height: 3px;
  background: #27c275;
  border-radius: 8px;
}

/* White Glass Label */
.bg-white {
  background: rgba(255, 255, 255, 0.12) !important;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
}

.bg-white p {
  color: #ffffff !important;
  font-weight: 600;
}

/* Hero Headline */
h1 {
  color: #ffffff !important;
}

/* Paragraph Fix */
.clr-black {
  color: #e1e1e1 !important;
}

/* Hero Image Glow */
.hero-bg-theme img {
  filter: drop-shadow(0 8px 25px rgba(0, 0, 0, 0.6));
}

/* Elevate Text */
.elevate-text {
  background: linear-gradient(270deg, #009345 72.08%, #0071bd 88.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
