.leaderboard-wrapper {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  margin-top: 40px;
}

.leaderboard-container {
  background: #009345;
  padding: 10px 20px;
  border-radius: 14px;
  width: 100%;
  max-width: none;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.12);
  background-image: url("../../../../assets/image/png/tableBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.leaderboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background: transparent;
}

.leaderboard-table-row {
  width: 100%;
  height: 57px;
  background-color: #ffffff;
  text-align: center;
  color: #1969FF;
}

.leaderboard-table tbody tr {
  background: #ffffff;
  height: 61px;
  gap: 10px;
  font-weight: 600;
  margin: 10px 0;
  font-size: 14px;
  color: #000000;
  font-style: bold;
}

.leaderboard-table tbody tr th {
  margin-left: 10px;
}

/* .leaderboard-table tbody td:first-child,
.leaderboard-table thead th:first-child {
  border-radius: 10px 0 0 10px;
}

.leaderboard-table tbody td:last-child,
.leaderboard-table thead th:last-child {
  border-radius: 0 10px 10px 0;
} */

.player-info {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* object-fit: cover; */
}

.points {
  font-weight: 700;
}
.points-icon-card {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  width: 128px; 
}
.points-icon-card-img{
  width: 22px;
  height: 33px;
  margin-left: 40px;
}
