.btn-sessions-tab {
  border: 0.92px solid #009345 !important;
  color: var(--clr-theme) !important;
  max-width: 184.75px;
  height: 44px;
  background-color: transparent !important;
}

.btn-sessions-tab-active {
  border: 0.92px solid var(--clr-theme);
  color: #ffffff !important;
  background-color: var(--clr-theme) !important;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.custom-checkbox:checked {
  background-color: transparent;
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-59%, -61%);
  width: 13px;
  height: 13px;
  background-color: green;
  clip-path: polygon(20% 69%, 35% 80%, 90% 20%, 100% 30%, 40% 100%, 15% 75%);
}

.ant-picker {
  position: absolute;
  left: 50%;
  transform: translateX(-130%);
  z-index: -1;
}
