.cursor-pointer {
  cursor: pointer;
}

.bg_overlay {
  background-color: #f9fffc;
  opacity: 20%;
}

.role_box {
  background: #fafcfc;
  border-bottom: 5px solid #009345;
  box-shadow: 0px 0px 50px 20px #0000001a;
  max-width: 1063px;
  width: 100% !important;
  border-radius: 15px;
}

.border_theme {
  border: 2px solid #009345 !important;
}

.z_index {
  z-index: 1000;
}
.custom_width {
  max-width: 486px !important;
  width: 100%;
}

.custom_border {
  border: 0.87px solid #919191 !important;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
}

.custom_border_phone_input {
  border: 0.87px solid #919191 !important;
  outline: none;
  border-radius: 5px;
}

.react-international-phone-input-container .react-international-phone-input {
  border: unset !important;
}

.react-international-phone-country-selector-button {
  border: unset !important;
  border-right: 0.87px solid #919191 !important;
}

.otp-input {
  max-width: 60px !important;
  width: 100%;
  height: 60px;
  border: 1.21px solid #c5c5c5;
  outline: none;
  border-radius: 4px;
}

.choose-role-images {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
