.update-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #f7f9fc;
}

.update-password-card {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
}

.custom-btn {
  background-color: #009345 !important; /* brand green */
  border: none !important;
  font-family: "gothamMedium" !important;
  padding: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background-color: #0071bd !important; /* brand blue on hover */
}

.form-label {
  color: #333;
}
